.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    box-sizing: border-box;
}

.navbar__links {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    list-style: none;
}

.navbar__link a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    /* transition: color 0.3s ease; */
}

.navbar__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navbar__logo .navbar__logo-image {
    width: 50px;
    height: 50px;
}

.navbar__logo .navbar__logo-text {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70svh;
    color: white;
    text-align: center;
}

.hero__content {
    padding: 20px;
}

.hero__content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: -80px;
}

.hero__content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero__image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero__image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    filter: brightness(0.5);
}

.hero__logo {
    width: 400px;
    height: 400px;
}